<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="page-styles/styles.css" type="text/css"/>
</head>
<body>

<h1 id="my-heading-1">This is a web page for testing content scripts</h1>

<p>This is a web page for testing the kind of access content scripts get to the web pages they run inside.
The page includes a page script, which does three things:
</p>

<ul>
  <li>Adds a new paragraph, which we've highlighted with a red border.</li>
  <li>Adds a new variable "foo" to the global window object.</li>
  <li>redefines the build-in window.confirm() function.</li>
</ul>

<div id="wrap">
    <div id="left_column">
        <strong>Page script controls</strong><br/>
        <input type="button" id="highlight-para" value="Highlight the paragraph"><br/>
        <input type="button" id="show-foo" value="Get the value of window.foo"><br/>
        <input type="button" id="show-window.confirm" value="Call window.confirm()"><br/>
    </div>
    <div id="right_column">
    </div>
</div>


<div id="output"></div>

<script src="page-scripts/page-script.js"></script>

</body>
</html>
